.search {
}

.textfield {
    -fx-background-color: linear-gradient(to bottom, #efefef, #eeeeee);
    -fx-border-color: none;
    -fx-font-family: "Arial";
    -fx-font-size:14px;
}

.white-bg {
    -fx-background-color: #fff;
    -fx-background-radius:8px;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 6, 0, 0, 0);
}

.action-btn {
    -fx-background-color: linear-gradient(to bottom, #006A71, #9ACBD0);
    -fx-font-family: "Arial";
    -fx-font-size:16px;
    -fx-cursor: hand;
    -fx-text-fill: #bceff5;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.action-btn:hover {
    -fx-background-color: linear-gradient(to bottom, #1F7D84, #3AE2F4);
    -fx-text-fill: #fff;
}

.action-icon {
    -fx-fill: #bceff5;
    -fx-transition: fill 0.3s ease-in-out;
}

.action-btn:hover .action-icon {
    -fx-fill: #fff;
}

.table-view {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-border-color: #fff;
    -fx-border-width: 2px;
}

.table-view .table-column {
    -fx-alignment: CENTER;
    -fx-padding: 5px;
}

/* Làm rõ đường viền giữa các cột */
.table-view .table-cell {
    -fx-border-color: #ddd;
    -fx-border-width: 0 1px 0 0;
    -fx-padding: 5px;
}

.table-view .column-header {
    -fx-background-color: #1F7D84;
    -fx-pref-height: 35px;
    -fx-border-color: #ffffff;
    -fx-border-width: 0 1px 2px 0;
}

.table-view .column-header .label {
    -fx-font-family: "Arial";
    -fx-font-size: 13px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .table-row-cell {
    -fx-font-size: 13px;
}

/* Khi một dòng được chọn */
.table-view .table-row-cell:selected {
    -fx-background-color: #25969E; /* Màu nền khi được chọn */
    -fx-text-fill: white; /* Màu chữ */

}

/* Khi hover vào một dòng */
.table-view .table-row-cell:hover {
    -fx-background-color: #34D0DB; /* Màu khi di chuột */
}

/* Khi dòng có focus (có thể chỉnh nếu cần) */
.table-view .table-row-cell:focused {
    -fx-background-color: #25969E;
    -fx-text-fill: white;
}


