.search {
}

.textfield {
    -fx-background-color: linear-gradient(to bottom, #efefef, #eeeeee);
    -fx-border-color: none;
    -fx-font-family: "Arial";
    -fx-font-size:14px;
}

.white-bg {
    -fx-background-color: #fff;
    -fx-background-radius:8px;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 6, 0, 0, 0);
}

.action-btn {
    -fx-background-color: linear-gradient(to bottom, #006A71, #9ACBD0);
    -fx-font-family: "Arial";
    -fx-font-size:16px;
    -fx-cursor: hand;
    -fx-text-fill: #bceff5;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.action-btn:hover {
    -fx-background-color: linear-gradient(to bottom, #1F7D84, #3AE2F4);
    -fx-text-fill: #fff;
}

.action-icon {
    -fx-fill: #bceff5;
    -fx-transition: fill 0.3s ease-in-out;
}

.action-btn:hover .action-icon {
    -fx-fill: #fff;
}

.table-view {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-border-color: #fff;
    -fx-border-width: 2px;
}

.table-view .table-column {
    -fx-alignment: CENTER;
    -fx-padding: 5px;
}

/* Làm rõ đường viền giữa các cột */
.table-view .table-cell {
    -fx-border-color: #ddd;
    -fx-border-width: 0 1px 0 0;
    -fx-padding: 5px;
}

.table-view .column-header {
    -fx-background-color: linear-gradient(to bottom, #1F7D84, #3AE2F4);
    -fx-pref-height: 35px;
    -fx-border-color: #ffffff;
    -fx-border-width: 0 1px 2px 0;
}

.table-view .column-header .label {
    -fx-font-family: "Arial";
    -fx-font-size: 13px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .table-row-cell {
    -fx-font-size: 16px;
}

/* Khi một dòng được chọn */
.table-view .table-row-cell:selected {
    -fx-background-color: #279FA5;
    -fx-text-fill: white;

}

/* Khi hover vào một dòng */
.table-view .table-row-cell:hover {
    -fx-background-color: #3AE2F4; /* Màu khi di chuột */
    -fx-text-fill: white; /* Màu chữ */
    -fx-cursor: hand;
}

/* Khi dòng có focus (có thể chỉnh nếu cần) */
.table-view .table-row-cell:focused {
    -fx-background-color: #279FA5;
    -fx-text-fill: white;
}

.combo-box {
    -fx-border-color: #58c9c9;
    -fx-font-family: "Arial";
    -fx-font-size:12px;
    -fx-cursor: hand;
}

.combo-box .list-view {
    -fx-background-color: white; /* Màu nền */
    -fx-border-color: #58c9c9;  /* Viền */

}

.combo-box .list-cell:hover {
    -fx-background-color: #58c9c9; /* Màu nền khi hover */
    -fx-text-fill: white; /* Màu chữ khi hover */
}

.combo-box .arrow-button {
    -fx-background-color: linear-gradient(to bottom, #1F7D84, #3AE2F4);
}
.combo-box .arrow-button:hover {
    -fx-background-color: #3a9d9d;
}

.combo-box .arrow {
    -fx-background-color: white;
}

.combo-box .combo-box-base {
    -fx-background-color: white;
    -fx-border-color: #58c9c9;
    -fx-text-fill: black;
}

.check-box {
    -fx-font-family: "Arial";
    -fx-font-size:14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

