.root {
    -fx-background-color: white;
    -fx-pref-width: 1200px;
    -fx-pref-height: 1000px;
    -fx-padding: 0;
    -fx-start-margin: 0;
    -fx-end-margin: 0;
}

.root .imgMainPageLogo {
    -fx-cursor: hand;
}

/*Left list functions*/
.vbMainMenu {
    -fx-background-color: lightcyan;
    -fx-pref-width: 160px;
    -fx-pref-height: 900px;
    -fx-spacing: 10px;
}

.vbMainMenu .pProductButtonContainer {
    -fx-background-color: white;
    -fx-pref-height: 80px;
    -fx-pref-width: inherit;
    -fx-cursor: hand;
}

/*Top main menu*/
.apTopMainMenu {
    -fx-background-color: lightcyan;
    -fx-pref-width: 1200px;
    -fx-max-height: 103px;
}

.apTopMainMenu .txtSearchProduct {
    -fx-background-color: white;
    -fx-alignment: center-left;
    -fx-pref-width: 400px;
    -fx-pref-height: 30px;
    -fx-border-radius: 4px;
    -fx-border-color: black;
}

.apTopMainMenu .acAppLogo {
    -fx-pref-height: 103px;
}

.hbListAccountFunc .btnLogout,
.hbListAccountFunc .btnCart,
.hbListAccountFunc .btnNewsAlert {
    -fx-background-color: transparent;
    -fx-pref-width: 70px;
    -fx-cursor: hand;
}

.hbListAccountFunc .btnLogout {
    -fx-pref-width: 100px;
}

.root .pMainContentPane {
    -fx-background-color: black;
}

