/*Form account*/
.hbFormLoginRegisContainer {
    -fx-background-color: rgb(5, 14, 53);
}

.pFormLoginRegisContent,
pFormLoginRegisImage {
    -fx-border-style: solid;
    -fx-border-color: white;
}

.vbFormLoginRegisWrapper {
    /*visibility: hidden;*/
}


.hbFormLoginRegisUserName,
.hbFormLoginRegisPassword {
    -fx-spacing: 40px;
}

.btnFormLogin,
.btnFormSignUp {
    -fx-background-color: lightcyan;
    -fx-border-color: lightcyan;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-cursor: hand;
}

.pswdFormLoginPassword,
.txtFormLoginUserName {
    -fx-background-color: white;
    -fx-background-radius: 8px;
}

.pFormLoginRegisFooter .btnFormSignUp {
    -fx-pref-width: 300px;
}

.hyperlink {
    -fx-graphic: inherit;
}

.hlkNavToSignUpForm {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
